PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Vs2PR8in9w6bp897w9kXGsNzxYYlbLfm
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
